<%- include('../partials/header'); -%>


<h2 style="text-align: center;">Category: Contact</h2>
<div>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Phone Num</th>
                <th>Request</th>
                <th>Area</th>
                <th>Notification</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <% customers.forEach(function(customer) { %>
                <% if(customer.counter === 1)  { %>
                    <tr>
                        <td><%= customer.name %></td>
                        <td><%= customer.phoneNum %></td>
                        <td><%= customer.request %></td>
                        <td><%= customer.area %></td>
                        <% if(moment().diff(moment(customer.created), 'hours') < 1 ) { %>
                            <td><div class="notif1"></div></td>
                        <% }else if(moment().diff(moment(customer.created), 'hours') === 1) { %>
                            <td><div class="notif2"></div></td>
                        <% }else if(moment().diff(moment(customer.created), 'hours') === 2) { %>
                            <td><div class="notif3"></div></td>
                        <% }else if(moment().diff(moment(customer.created), 'hours') > 2) { %>
                            <td><div class="notif4"></div></td>
                        <% } %>
                        <td>
                            <button><a href="/customer/<%= customer._id %>/edit">Edit</a></button>
                            <form class="delete-button" action="/customer/<%= customer._id %>/counter?_method=PUT" method="POST">
                                <button>Move</button>
                            </form>
                            <form class="delete-button" action="/customer/<%= customer._id %>/delete?_method=DELETE" method="POST">
                                <button>Delete</button>
                            </form>
                        </td>
                    </tr>
                <% } %>
            <% }); %>
        </tbody>
    </table>
</div>


<h2 style="text-align: center; margin-top: 50px;">Category: Picture</h2>
<div>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Phone Num</th>
                <th>Request</th>
                <th>Area</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <% customers.forEach(function(customer) { %>
                <% if(customer.counter === 2) { %>
                    <tr>
                        <td><%= customer.name %></td>
                        <td><%= customer.phoneNum %></td>
                        <td><%= customer.request %></td>
                        <td><%= customer.area %></td>
                        <td>
                            <button><a href="/customer/<%= customer._id %>/edit">Edit</a></button>
                            <form class="delete-button" action="/customer/<%= customer._id %>/counter?_method=PUT" method="POST">
                                <button>Move</button>
                            </form>
                            <form class="delete-button" action="/customer/<%= customer._id %>/delete?_method=DELETE" method="POST">
                                <button>Delete</button>
                            </form>
                        </td>
                    </tr>
                    <% } %>
                <% }); %>
        </tbody>
    </table>
</div>


<h2 style="text-align: center; margin-top: 50px;">Category: Inspection</h2>
<div>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Phone Num</th>
                <th>Request</th>
                <th>Area</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <% customers.forEach(function(customer) { %>
                <% if(customer.counter === 3) { %>
                    <tr>
                        <td><%= customer.name %></td>
                        <td><%= customer.phoneNum %></td>
                        <td><%= customer.request %></td>
                        <td><%= customer.area %></td>
                        <td>
                            <button><a href="/customer/<%= customer._id %>/edit">Edit</a></button>
                            <form class="delete-button" action="/customer/<%= customer._id %>/delete?_method=DELETE" method="POST">
                                <button>Delete</button>
                            </form>
                        </td>
                    </tr>
                    <% } %>
                <% }); %>
        </tbody>
    </table>
</div>

<%- include('../partials/footer'); -%>
