<%- include('../partials/header'); -%>

<div class="categories">
    <div class="<%= typeof page !== 'undefined' && page === 'contact' ? 'active' : '' %>"><a href="/customer/details/contact">contact category</a></div>
    <div class="<%= typeof page !== 'undefined' && page === 'picture' ? 'active' : '' %>"><a href="/customer/details/picture">picture category</a></div>
    <div class="<%= typeof page !== 'undefined' && page === 'inspection' ? 'active' : '' %>"><a href="/customer/details/inspection">inspection category</a></div>
</div>

<h2 style="text-align: center;">Category: Inspection</h2>
<div>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Phone Num</th>
                <th>Request</th>
                <th>Area</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <% customers.forEach(function(customer) { %>
                    <tr>
                        <td><%= customer.name %></td>
                        <td><%= customer.phoneNum %></td>
                        <td><%= customer.request %></td>
                        <td><%= customer.area %></td>
                        <td>
                            <button><a href="/customer/<%= customer._id %>/edit">Edit</a></button>
                            <form class="delete-button" action="/customer/<%= customer._id %>/delete?_method=DELETE" method="POST">
                                <button>Delete</button>
                            </form>
                        </td>
                    </tr>
                <% }); %>
        </tbody>
    </table>
</div>

<%- include('../partials/footer'); -%>
