<%- include('../partials/header'); -%>

<h2 style="text-align: center; margin-top: 50px;">Payment Section</h2>
<div>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Phone Num</th>
                <th>Request</th>
                <th>Area</th>
                <th>Payment</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <% customers.forEach(function(customer) { %>
                    <tr>
                        <td><%= customer.name %></td>
                        <td><%= customer.phoneNum %></td>
                        <td><%= customer.request %></td>
                        <td><%= customer.area %></td>
                        <td>
                            <% if(customer.paid) { %>
                                Paid
                            <% } else { %>
                                <form class="payment-button" action="/customer/<%= customer._id %>/payment" method="POST">
                                    <button>Confirm</button>
                                </form>
                            <% } %>
                        </td>
                        <% if(customer.paid) { %>
                            <td>Yes</td>  
                        <% } else { %>
                            <td>No</td>
                        <% } %>
                    </tr>
                <% }); %>
        </tbody>
    </table>
</div>


<%- include('../partials/footer'); -%>
